/* App.css or App.scss  is(can be used) for setting CSS in individual pages. */

.App {
    text-align: left;
    padding-left: 20px;
}

.won-card{
    background-color: #4da375;
}
.lost-card{
    background-color: #a34d5d;
}